.back__{
   display: block;
   color: #000000;
   position: relative;
   left: -10%;
   top: 5%;

}
.button__wrapper{
   display: flex;
   justify-content: space-around;
   margin: 10% 0%;
}
.button__1{
   background-color: #7126B5;
   border-radius: 12px;
   border-color: #7126B5;
   width: 45%;
   
}
.button__2{
   background-color: #FFFFFF;
   color: #7126B5;
   border-radius: 12px;
   border-color: #7126B5;
   width: 45%;
}

.navbar-text{
   position: relative;
   left: -3%;
}

.form___{
   border-radius: 12px;
}

@media only screen and (max-width: 768px) {
   
   .logo__{
      display: none;
   }

   .back__{
      display: none;
   }
   
   .button__wrapper{
      display: block;
      justify-content: center;
   }
   .button__1{
      background-color: #7126B5;
      border-radius: 12px;
      border-color: #7126B5;
      width: 100%;
      
      
   }
   .button__2{
      background-color: #FFFFFF;
      color: #7126B5;
      border-radius: 12px;
      border-color: #7126B5;
      width: 100%;
      margin: 5% 0%;
   }
 }